.title-header {
    margin: 30px auto;
    text-align: center;
}

.table {
    margin: 10px auto;
}

.table td{
    text-align: center;
}

.table th{
    text-align:center !important;
}

.center{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.text-area {
  height: 300px;
  width: 95%;
  font-size: 30px;
}
.block{
  margin-top:20px;
}
.justify_table{
}
